<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
        Welcome to {{title}}!
    </h1>
    <button (click)="changeTheme()" id="btnThemeChange">Toggle Theme</button>
    <span style="display: block">{{ title }} app is running!</span>
    <img width="300" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2 appGreentext>Here are some links to help you start: </h2>



SQUARE of 9 : {{ 9 | square: 3}}

<br>
<div *ngIf="students.length > 0; then studentlist else nostudents"></div>

<ng-template #studentlist>
    List of Students
    <ul>
        <li *ngFor="let item of students;index as i">
            {{item}} <button (click)="remove(i)">Remove</button>
        </li>
    </ul>
</ng-template>
<ng-template #nostudents>
    No students in the list
</ng-template>



<div [hidden]="students.length === 0">
    List of Students
    <ul>
        <li *ngFor="let item of students; index as i; first as f; last as l;even as isEven;odd as isOdd">
            <span>{{item}}-{{i}} first: {{f}}, last: {{f}}, is even: {{isEven}},
                is
                odd:
                {{isOdd}}</span>
        </li>
    </ul>
</div>
<div [hidden]="students.length > 0">
    No students in the list
</div>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="1">View Mode 1</div>
    <div *ngSwitchCase="2">View Mode 2</div>
    <div *ngSwitchDefault>View Mode default</div>
</div>

<!-- ng container -->
<table>
    <tr>
        <td>Name</td>
        <td>Cost</td>
    </tr>
    <ng-container *ngFor="let item of courses">
        <ng-container *ngIf="item.cost <= 200">
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.cost}}</td>
            </tr>
        </ng-container>
    </ng-container>
</table>
<hr>
<app-accordian [courses]="courses">
    <div class="fourty">
        Expert Level Courses
    </div>
    <div class="fifty">
        Total Courses: 50
    </div>
</app-accordian>

<a [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a>

<router-outlet></router-outlet>